.titulos{
  font-family: 'Great Vibes', cursive;
  font-size:50px;
  color:black;
  min-width:960px;
  background:#fff
}
.sub{

    font-family: 'Great Vibes', cursive;
    font-size:35px;
    min-width:960px;
    background:#black;
    line-height: 2em;
    color: #FF0080;
    font-weight: normal;
    letter-spacing: 1px;

}
.services{
  font-family: 'Great Vibes', cursive;
  font-size:60px;
  color:black;
  min-width:960px;
  background:#fff
}
.gallery{
  font-family: 'Great Vibes', cursive;
  font-size:60px;
  color:black;
  min-width:960px;
  background:#black
}
.social{
  font-family: 'Great Vibes', cursive;
  font-size:30px;
  color:black;
  min-width:960px;
  background:#black
}
.color{
  color:#ff0080;
  background:#black
}
.borde
{

    border-left:  0.1px solid #ff9999;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn{
  animation-name: fadeIn;
}
