
<section id="content">
  <div class="main">
    <div class="container_12">
      <div class="wrapper">
        <article class="grid_8">
          <h3 class="titulos">Bienvenida a Meili Nails and Beauty!</h3>
          <div class="wrapper p2">
            <figure class="img-indent img-border"><img src="assets/images/logo1.1.png" alt="" /></figure>
            <div class="extra-wrap">
              <h6>Meilí Nails and Beauty tu mejor aliado para sentirte mejor contigo misma y lucir radiante ese dia tan especial. </h6>
              ¡Contamos con todos los servicios que necesites: uñas, corte, peinado y maquillaje.
              Todo esto en el mismo lugar para que ese dia tan especial dejes consertirte y salgas a lucir como la reina que eres!
              No esperes más y ven a visitarnos te atenderemos con gusto.
            </div>
          </div>

        </article>

      </div>
    </div>
  </div>
  <div class="block"></div>
</section>

<!-- services -->
<section id="services">
  <div >
    <div >
    <div align="center" class="services">
      Servicios
      </div>
      <div class="container_12 ">
        <div class="wrapper">
          <article class="grid_3">
            <h4 class="sub">Corte</h4>
            <p class="img-indent-bot ">Contamos con estilistas certificadas que haran de tu cabello una extencion mas de tu belleza, No lo dudes mas y atrevete al cambio!</p>

          </article>
          <article class="grid_3">
            <div class="indent-left">
              <h4 class="sub">Uñas</h4>
              <p class="img-indent-bot">Nuestros diseños y calidad haran de tus uñas un reflejo de tu personalidad, Muestrate al mundo!</p>

            </div>
          </article>
          <article class="grid_3">
            <div class="indent-left">
              <h4 class="sub">Maquillaje</h4>
              <p class="img-indent-bot">Muestra tu mejor cara con nuestro maquillaje profesional y luce hermosa para esa persona tan especial.</p>

            </div>
          </article>
          <article class="grid_3">
            <div class="indent-left2">
              <h4 class="sub">Peinado</h4>
              <p class="img-indent-bot">Nuestros peinados siempre te haran sentir segura de ti misma y presumas al mundo lo bella que eres!</p>

            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="main">
    <div class="container_12">
      <div class="wrapper">
        <article class="grid_8">
          <h3>Nuestros servicios</h3>
          <div class="wrapper p2">
            <figure class="img-indent img-border"><img src="assets/images/page4-img1.jpg" alt="" /></figure>
            <div class="extra-wrap">
              <h6>Meilí Nails and Beauty te ofrece sus servicios con la mas alta calidad en productos y con empleados debidamente certificados que habalan la calidad de nuestros servicos. <br> Con nosotros podras encontrar un hambiente agradable y moderno especialmente diseñado para concertirte en tu estancia con nosotros.</h6>

            </div>
          </div>
        </article>
        <article class="grid_4">
          <div class="indent-left2 borde">
            <h3>Lista de servicios</h3>
            <ul class="list-2 img-indent-bot ">
              <p><img class="img-margin" src="assets/images/heart.png"> servicio1.</p>
              <p><img class="img-margin" src="assets/images/heart.png"> servicio2.</p>
              <p><img class="img-margin" src="assets/images/heart.png"> servicio3.</p>
              <p><img class="img-margin" src="assets/images/heart.png"> servicio4.</p>
            </ul>

          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="block"></div>
</section>

<!-- Gallery -->

<section id="gallery">


    <div class="gallery" align="center">
      Galeria
    </div>

  <div >
    <div class="main">
      <div id="gallery" class="content">
         <div class="wrapper">
           <div class="slideshow-container">
            <div id="slideshow" class="slideshow"></div>
          </div>
        </div>
      </div>
      <div id="thumbs" class="navigation">
        <ul class="thumbs noscript">
          <li>
            <a class="thumb" href="assets/images/slider-img1.jpg" title=""> <img src="assets/images/page3-img1.jpg" alt="" href="#gallery"/><span></span> </a>
          </li>
          <li>
            <a class="thumb" href="assets/images/slider-img2.jpg" title=""> <img src="assets/images/page1-img1.jpg" alt="" /> <span></span></a>
          </li>
          <li>
            <a class="thumb" href="assets/images/slider-img4.jpg" title=""> <img src="assets/images/page2-img1.jpg" alt="" /> <span></span></a>
          </li>
          <li class="last">
            <a class="thumb" href="assets/images/slider-img3.jpg" title=""> <img src="assets/images/page2-img2.jpg" alt="" /> <span></span></a>
          </li>
          <li>
            <a class="thumb" href="assets/images/slider-img4.jpg" title=""> <img src="assets/images/page2-img1.jpg" alt="" /> <span></span></a>
          </li>
          <li>
            <a class="thumb" href="assets/images/slider-img3.jpg" title=""> <img src="assets/images/page2-img2.jpg" alt="" /> <span></span></a>
          </li>
          <li>
            <a class="thumb" href="assets/images/slider-img1.jpg" title=""> <img src="assets/images/page3-img1.jpg" alt="" /><span></span> </a>
          </li>
          <li class="last">
            <a class="thumb" href="assets/images/slider-img2.jpg" title=""> <img src="assets/images/page1-img1.jpg" alt="" /> <span></span></a>
          </li>
          <li>
            <a class="thumb" href="assets/images/slider-img1.jpg" title=""> <img src="assets/images/page3-img1.jpg" alt="" /><span></span> </a>
          </li>
          <li>
            <a class="thumb" href="assets/images/slider-img2.jpg" title=""> <img src="assets/images/page1-img1.jpg" alt="" /> <span></span></a>
          </li>
          <li>
            <a class="thumb" href="assets/images/slider-img4.jpg" title=""> <img src="assets/images/page2-img1.jpg" alt="" /> <span></span></a>
          </li>
          <li class="last">
            <a class="thumb" href="assets/images/slider-img3.jpg" title=""> <img src="assets/images/page2-img2.jpg" alt="" /> <span></span></a>
          </li>
          <li class="last2">
            <a class="thumb" href="assets/images/slider-img4.jpg" title=""> <img src="assets/images/page2-img1.jpg" alt="" /> <span></span></a>
          </li>
          <li class="last2">
            <a class="thumb" href="assets/images/slider-img3.jpg" title=""> <img src="assets/images/page2-img2.jpg" alt="" /> <span></span></a>
          </li>
          <li class="last2">
            <a class="thumb" href="assets/images/slider-img1.jpg" title=""> <img src="assets/images/page3-img1.jpg" alt="" /><span></span> </a>
          </li>
          <li class="last last2">
            <a class="thumb" href="assets/images/slider-img2.jpg" title=""> <img src="assets/images/page1-img1.jpg" alt="" /> <span></span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="block"></div>
</section>

<!---about-->
<section id="about">
  <div class="gallery" align="center">
    Sobre Nosotros
  </div>
  <div >

    <div class="main">
      <div class="container_12">
        <div class="wrapper">
          <article class="grid_4">
            <h4 class="sub">Nuestras Habilidades:</h4>
            <p class="prev-indent-bot">Sed ut perspiciatis unde omnis istnatus error<br> sit voluptatem accusantium:</p>
            <ul class="list-2">
              <li><a class="color" href="#">Doloremque laudantium totam</a></li>
              <li><a class="color" href="#">Aperiam eaque ipsa quae illo inventore</a></li>
              <li><a class="color" href="#">Veritatis et quasi architecto beatae</a></li>
              <li><a class="color" href="#">Vitae dicta sunt explicabo</a></li>
            </ul>
          </article>
          <article class="grid_4">
            <div class="indent-left">
              <h4 class="sub">Nuestras Ventajas: </h4>
              <p><img class="img-margin" src="assets/images/heart.png"> En Meilí contamos con certificaciones en todo nuestro personal.</p>
              <p><img class="img-margin" src="assets/images/heart.png"> En Meilí tienes todo en solo lugar.</p>
              <p><img class="img-margin" src="assets/images/heart.png"> En Meilí te queremos verv feliz.</p>


            </div>
          </article>
          <article class="grid_4">
            <div class="indent-left2">
              <h4 class="sub">Nuestro Principios:</h4>

              <p><img class="img-margin" src="assets/images/heart.png"> Honestidad.</p>
              <p><img class="img-margin" src="assets/images/heart.png"> Compromiso.</p>
              <p><img class="img-margin" src="assets/images/heart.png"> Igualdad.</p>
              <p><img class="img-margin" src="assets/images/heart.png"> Dedicacion.</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<section >
  <div class="main">
    <div class="container_12">
      <div class="wrapper">
        <article class="grid_8">
          <h3>Un poco sobre nosotros</h3>
          <div class="wrapper p2">
            <figure class="img-indent img-border"><img src="assets/images/page2-img1.jpg" alt="" /></figure>
            <div class="extra-wrap">
              <h6>Dayanne Gonzalez</h6>
Ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum fuga harum quidem rerum facilis.
            </div>
          </div>
          <p><span class="color-2">Omnis voluptas assumenda est, omnis dolor repellendus.</span> Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae itaque earum rerum hic tenetur.</p>
          <div class="wrapper p3">
            <figure class="img-indent img-border"><img src="assets/images/page2-img2.jpg" alt="" /></figure>
            <div class="extra-wrap">
              <h6>Katya Payan</h6>
Maiores alias consequatur aut perferendis doloribus asperiores repellat. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam.
            </div>
          </div>

        </article>

        <article class="grid_4">
          <div class="indent-left2 borde">
            <h3>Te ofrecemos:</h3>
            <p><img class="img-margin" src="assets/images/heart.png"> Productos de calidad.</p>
            <p><img class="img-margin" src="assets/images/heart.png"> Satisfaccion total.</p>

          </div>
        </article>
      </div>
      <div class="dropdown ">
      <a class="button" href="#">Read More</a>
            <div class="dropdown-content animated fadeIn">
              <div class="container_12">
                <article class="grid_8">
                  <div class="wrapper p2">
                    <figure class="img-indent img-border"><img src="assets/images/page2-img1.jpg" alt="" /></figure>
                    <div class="extra-wrap">
                      <h6>Dayanne Gonzalez</h6>
              Ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum fuga harum quidem rerum facilis.
                    </div>
                  </div>
                  <p><span class="color-2">Omnis voluptas assumenda est, omnis dolor repellendus.</span> Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae itaque earum rerum hic tenetur.</p>
                  <div class="wrapper p3">
                    <figure class="img-indent img-border"><img src="assets/images/page2-img2.jpg" alt="" /></figure>
                    <div class="extra-wrap">
                      <h6>Katya Payan</h6>
              Maiores alias consequatur aut perferendis doloribus asperiores repellat. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam.
                    </div>
                  </div>
                </article>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="block"></div>
</section>


<!-- COntacts-->
<section id="contacts">
  <div class="gallery" align="center">
    Contactos
  </div>
  <div class="main">
    <div class="container_12">
      <div class="wrapper">
        <article class="grid_12">
          <h3 class="p2">Nuestros contactos: </h3>
          <div class="wrapper">
            <div class="grid_4 alpha">
              <h6>Dayanne Gonzalez</h6>
              <dl>
                <dt>8901 Marmora Road, Glasgow, D04</dt>
                <dd><span>Freephone:</span>  +1 800 559 6580</dd>
                <dd><span>Telephone:</span>  +1 800 603 6035</dd>
                <dd><span>Fax:</span>  +1 800 889 9898</dd>
                <dd><span>Email:</span><a class="color" href="#">mail@demolink.org</a></dd>
              </dl>
              <div align="center">
                <a href=""><i class="fa fa-facebook-square" style="font-size:30px;color:black;"></i></a>
                <a href=""><i class="fa fa-instagram" style="font-size:30px;color:black;"></i></a>
                <a href=""><i class="fa fa-twitter" style="font-size:30px;color:black;"></i></a>
              </div>
            </div>
            <div class="grid_4">
              <h6>Katya Payan</h6>
              <dl>
                <dt>8901 Marmora Road, Glasgow, D04</dt>
                <dd><span>Freephone:</span>  +1 800 559 6580</dd>
                <dd><span>Telephone:</span>  +1 800 603 6035</dd>
                <dd><span>Fax:</span>  +1 800 889 9898</dd>
                <dd><span>Email:</span><a class="color" href="#">mail@demolink.org</a></dd>
              </dl>
              <div align="center">
                <a href=""><i class="fa fa-facebook-square" style="font-size:30px;color:black;"></i></a>
                <a href=""><i class="fa fa-instagram" style="font-size:30px;color:black;"></i></a>
                <a href=""><i class="fa fa-twitter" style="font-size:30px;color:black;"></i></a>
              </div>
            </div>
            <div class="grid_4 omega">
              <h6>-+</h6>
              <dl>
                <dt>8901 Marmora Road, Glasgow, D04</dt>
                <dd><span>Freephone:</span>  +1 800 559 6580</dd>
                <dd><span>Telephone:</span>  +1 800 603 6035</dd>
                <dd><span>Fax:</span>  +1 800 889 9898</dd>
                <dd><span>Email:</span><a class="color" href="#">mail@demolink.org</a></dd>
              </dl>
              <div align="center">
                <a href=""><i class="fa fa-facebook-square" style="font-size:30px;color:black;"></i></a>
                <a href=""><i class="fa fa-instagram" style="font-size:30px;color:black;"></i></a>
                <a href=""><i class="fa fa-twitter" style="font-size:30px;color:black;"></i></a>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="block"></div>


    <div class="social" align="center">
    Siguenos en
  <a href=""><i class="fa fa-facebook-square" style="color:#3b5998;"></i></a>
  Ubicacion
  <a href=""><i class="fa fa-map-pin" style="color:#3b5998;"></i></a>
  </div>

  <br>
</section>
