<header>

  <div class="header-row"><div class="ic"></div>
    <div class="main">
      <div align="center">
      <h1>
        <a href="index.html">Meilí</a>

      </h1>
      </div>

      <div class="slider-wrapper">
        <div class="slider">
          <ul class="items">
            <li>
              <img src="assets/images/slider-img1.jpg" alt="" />
            </li>
            <li>
              <img src="assets/images/slider-img2.jpg" alt="" />
            </li>
            <li>
              <img src="assets/images/slider-img3.jpg" alt="" />
            </li>
            <li>
              <img src="assets/images/slider-img4.jpg" alt="" />
            </li>
          </ul>
        </div>
        <ul class="pagination">
          <li><a href="#">Uñas</a></li>
          <li><a href="#">Maquillaje</a></li>
          <li><a href="#">Corte</a></li>
          <li><a href="#">Peinado</a></li>

        </ul>
      </div>
      <div class="container_12">
        <div class="wrapper">
          <article class="grid_4">
            <h4 class="sub1">Sobre Nosotros:</h4>
            Meilí Nails and Beauty es un salon de belleza para que no pierdas tu look perfecto.<br> ¡No dejes de sentirte bien contigo misma!
          </article>
          <article class="grid_4">
            <div class="indent-left">
              <h4 class="sub1">Nuestra Galeria:</h4>
              En Meilí Nails and Beauty realizamos excelentes diseños. <br>¡Nuestra galeria nos respalda!
            </div>
          </article>
          <article class="grid_4">
            <div class="indent-left2">
              <h4 class="sub1">Nuestros Servicios:</h4>
              En Meilí Nails and Beauty damos un servicio completo a tu look. <br> ¡Todo en el mismo lugar!
            </div>
          </article>

        </div>
      </div>
    </div>
  </div>


</header>
